fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
pymupdf
python-pptx
openpyxl
docx2txt
python-docx
reportlab
duckduckgo-search
